.apps {
background-color: #F2F2F2;
width: 100%;

@media (min-width: @tablet-width){
border: 2px solid #E5E5E5;
border-radius: 1px;
margin-top: 25px;
margin-bottom: 65px;
order: 1;
background-color: #FFFFFF;
}

@media (min-width: @desktop-width){
width: 430px;
max-height: 297px;
margin-left: 75px;
}
}

.apps__title {
display: block;
padding-top: 42px;
padding-bottom: 37px;
margin: 0;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #D22856;

@media (min-width: @tablet-width){
position: relative;
z-index: 2;
transform: translateY(-50%);
padding: 0;
background-color: #ffffff;
display: inline-block;
padding-left: 25px;
padding-right: 25px;
}
}

.apps__list {
margin: 0;
padding-left: 0;
list-style: none;

@media (min-width: @tablet-width){
float: left;
padding-top: 40px;
padding-bottom: 14px;
}
}

.apps__item {
font-weight: normal;
font-size: 18px;
line-height: 30px;
margin-bottom: 45px;
color: #283645;
padding-left: 85px;

@media (min-width: @tablet-width){
padding-left: 115px;
}
}


