.container {
width: 100%;
max-width: 100%;

@media (min-width: @tablet-width) {
max-width: 620px ;
padding: 0 15px;
}


@media (min-width: @desktop-width) {
max-width: 940px;
padding: 0 40px;
margin: 0 auto;
}
}

.container-wrap{
position: relative;
max-width: 280px;
margin: 0 auto;
padding: 0 15px;
width: 100%;

@media (min-width: @tablet-width) {
width: 100%;
max-width: 100%;
}
}

