.contacts-form {
margin-bottom:44px;

@media (min-width: @tablet-width){
order: 2;
}
@media (min-width: @desktop-width){
width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
.contacts-form__phone,
.contacts-form__email{
@media (min-width: @desktop-width){
width: 370px;
}
}
.contacts-form__label {
font-weight: normal;
font-size: 14px;
line-height: 30px;
color: #D22856;
display: block;
margin-left: 23px;
margin-bottom: 17px;
float: left;
@media (min-width: @desktop-width){
order: 1;
}
}

.contacts-form__input {
display: block;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #283645;
padding: 15px 20px;
box-sizing: border-box;
width: 100%;
border: 2px solid #E5E5E5;
border-radius: 1px;
}
