.copyright {
display: flex;
align-items: center;
justify-content: center;

@media (min-width: @tablet-width){
justify-content: flex-end;
}

@media (min-width: @desktop-width){
padding-top: 68px;
}
}

.copyright__text {
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin-right: 10px;

@media (min-width: @desktop-width){
font-size: 18px;
}
}

.copyright__link-img{
  fill:#D22856;

    &:hover {
      fill: #283645;
  }
  &:active{
    fill:rgba(40, 54, 69, 0.3);
  }
}
