.download__content {
display: block;
color: #ffffff;

@media (max-width: @mobile-width-only) {
background-color: #1D2631;
}

@media (min-width: @tablet-width) {
display: inline-block;
display: grid;
grid-template-columns: 1fr 1fr;
}
}

.download__title {
font-weight: 300;
font-size: 24px;
line-height: 29px;
margin: 0;
color: #ffffff;
}

.download__button {
display: block;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #ffffff;
text-align: center;
padding: 21px;
border-width: 3px;
border-style: solid;
border-radius: 29px;
}

.download__list {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
margin: 38px 0 31px;
}

.download__info {
font-weight: 300;
font-size: 14px;
line-height: 24px;
}
