.emotion {
margin-bottom: 52px;

@media (min-width: @tablet-width){
order: 4;
}

@media (min-width: @desktop-width){
width: 100%;
}
}

.emotion__title {
display: block;
padding-top: 36px;
padding-bottom: 18px;
margin: 0;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #D22856;
}

.emotion__comment-extarea {
display: block;
box-sizing: border-box;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #283645;
width: 100%;
margin: 0;
min-height: 197px;
border: 2px solid #E5E5E5;
border-radius: 1px;
}
