.full-name{
margin-bottom: 30px;

@media (min-width: @tablet-width){
margin-bottom: 25px;
}

@media (min-width: @desktop-width){
width: 430px;
padding-top: 15px;

}
}

.full-name__label {
font-weight: normal;
font-size: 14px;
line-height: 30px;
color: #D22856;
display: block;
margin-left: 23px;
float: left;

@media (min-width: @tablet-width){
margin-left: 0;
margin-bottom: 0;
margin-right: 20px;
}
}

.full-name__input{
display: block;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #283645;
padding: 15px 20px;
box-sizing: border-box;
width: 100%;
border: 2px solid #E5E5E5;
border-radius: 1px;
}

.full-name__surname,
.full-name__name,
.full-name__patronymic{

@media (min-width: @tablet-width){
display: flex;
justify-content: space-between;
align-items: center;
}
}

.full-name__surname{
margin-bottom: 0px;

@media (min-width: @tablet-width){
margin-bottom: 50px;
}
}

.full-name__name{
margin-bottom: 25px;

@media (min-width: @tablet-width){
margin-bottom: 50px;
}
}
