.progress {
background-color: #F2F2F2;

@media (min-width: @tablet-width){
border: 2px solid #E5E5E5;
border-radius: 1px;
margin-top:50px;
margin-bottom: 65px;
}

@media (min-width: @tablet-width){
order: 3;
background-color: #FFFFFF;
}

@media (min-width: @desktop-width){
width: 100%;
margin-top: 45px;
}
}


.progress__title {
display: block;
padding-top: 40px;
padding-bottom: 47px;
margin: 0;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #D22856;

@media (min-width: @tablet-width){
br {
content: "";
}
br:after {
content: "\00a0";
}
display: inline-block;
position: relative;
z-index: 2;
transform: translateY(-50%);
padding: 0;
padding-left: 25px;
padding-right: 25px;
background-color: #FFFFFF;
}
}

.progress__list {
margin: 0;
padding-left: 0;
list-style: none;

@media (min-width: @tablet-width){
margin-top: 40px;
padding-bottom: 0;
margin-bottom: 60px;
}

@media (min-width: @desktop-width){
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 10px;
}
}

.progress__item {
font-weight: normal;
font-size: 18px;
line-height: 30px;
margin-bottom: 50px;
color: #283645;

@media (min-width: @tablet-width){
}

@media (min-width: @desktop-width){
width: 260px;
padding: 0;
}
}

.progress__label{
cursor: pointer;
}

.progress__checkbox{
display: inline-block;
vertical-align: top;
width: 35px;
height: 35px;
border: 2px solid #E5E5E5;
border-radius: 1px;
position: relative;
}

.progress__checkbox::before {
content: '';
position: absolute;
top: 2px;
left: 12px;
width: 10px;
height: 20px;
border-right: 2px solid #D22856;
border-bottom: 2px solid #D22856;
transform: rotate(45deg);
display: none;
}

input:disabled ~ .progress__checkbox {
border-color: #E5E5E5;
}

input:hover ~ .progress__checkbox {
border-color: #283645;
}

input:active ~ .progress__checkbox {
border-color: #D22856;
}
input:checked ~ .progress__checkbox::before {
display: block;
}
