.reviews {
position: relative;
padding-top: 23px;
padding-bottom: 70px;
text-align: center;

@media (min-width: @tablet-width){
padding-top: 39px;
padding-bottom: 60px;
}

@media (min-width: @desktop-width){
width: 680px;
padding-top: 140px;
padding-bottom: 35px;
background-image: url(../img/quotes.svg);
background-repeat: no-repeat;
background-position: 50% 73px;
background-size: 79px 63px;
}
}

.reviews__list {
@media (min-width: @tablet-width){
display: flex;
flex-direction: column;
}
}

.reviews__item {
font-weight: normal;
font-size: 14px;
line-height: 30px;
color:#283645;
margin: 0;

@media (min-width: @tablet-width){
margin-bottom: 13px;
font-size: 18px;
margin: 0;
order: -1;
padding-top: 45px;
}

@media (min-width: @desktop-width){
line-height: 30px;

}
}

.reviews__author-name {
font-weight: 700;
font-size: 18px;
line-height: 30px;

@media (min-width: @tablet-width){
margin-top: 35px;
margin-bottom: 0;
font-size: 20px;
}

@media (min-width: @desktop-width){
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
}

.reviews__autor-info{
@media (max-width:@mobile-width-only){
display: none;
}

@media (min-width: @tablet-width){
font-size: 14px;
line-height: 30px;
margin: 0;
}
}
