.social__list {
display: flex;
margin: 0;
padding-left: 0;
list-style: none;
padding-top: 41px;
padding-bottom: 41px;
}

.social__wrapper{
@media (min-width: @tablet-width) {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
}
