.container {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  padding: 0 10px;
}
@font-face {
  font-family: "Open Sans";
  src: url("..\fonts\opensans.woff2") format("woff2"), url("..\fonts\opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("..\fonts\opensansbold.woff2") format("woff2"), url("..\fonts\opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("..\fonts\opensanslight.woff2") format("woff2"), url("..\fonts\opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.page__body {
  min-width: 320px;
  margin: 0;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.page-header {
  background-color: #283645;
}
.page-header__logo {
  position: relative;
  top: 23px;
  padding-bottom: 23px;
}
.page-main__wrapper {
  padding: 420px 20px 30px;
  display: block;
  background-image: url("../img/back-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-main__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #ffffff;
}
.page-main__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto 35px;
  color: #283645;
}
.main-nav {
  width: auto;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__list a {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-nav__item {
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.download__content {
  display: block;
  background-color: #1D2631;
  color: #ffffff;
}
.download__button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding: 21px;
  border-width: 3px;
  border-style: solid;
  border-radius: 29px;
}
.download__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin: 38px 0 31px;
}
.download__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.advantages {
  background-color: #F2F2F2;
}
.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages__item {
  margin-bottom: 43px;
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}
.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.reviews__item {
  margin: 0;
}
.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.price {
  background-color: #F2F2F2;
  padding-top: 127px;
  padding-bottom: 49px;
}
.price__slider {
  width: 832px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.price__header {
  background-color: #283645;
  color: #ffffff;
}
.price__type {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.price__value {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.price__function {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #283645;
}
.contacts__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
  margin-bottom: 13px;
}
.contacts__description,
.contacts__description a {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
  margin-bottom: 35px;
}
.copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}
.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.social__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 41px;
  padding-bottom: 41px;
}

/*# sourceMappingURL=style.css.map */
